.App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  @keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
  }
  
  img.logo{
    width: 240px;
    margin: 25px;
    margin-top: 50px;
  
    display: none;
  }
  
  h1.logo{
    z-index: 5; 
    margin-top: -65px; 
    margin-left: 42%; 
    color: #009dc0; 
    display: none; 
    font-size:20px;
  }

  .login-form{
    margin-top: 35px;
  }


  #login.login{
    margin-top: 80px;
  }